<div class="p-12">
  {{#each posts as |post| }}
  <div class="border-2 border-slate-800 mb-4">
    <div class="bg-slate-800 p-2 px-4 flex items-center justify-between text-neutral-200">
      <h2 class="block">
        <a class="text-xl font-semibold block" href="/post/{{post.id}}">{{post.title}}</a>
      </h2>
      <div>
        Posted by {{post.user.username}} on {{format_date post.date_created}}
      </div>
    </div>
    
    <p class="p-2 px-4">
      {{post.content}}  
    </p>
  </div>
  {{/each}}
</div>

